<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <title>Document</title>
</head>
<body>
    <div class="container rounded bg-white mt-5">
        <div class="row">
            
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                            <a href="{% url 'home' %}"><h6>Back to home</h6></a>
                        </div>
                        <h6 class="text-right">Edit Profile</h6>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><input type="text" class="form-control" id="current" placeholder="current_password" value=""></div>
                        <div class="col-md-12"><input type="text" class="form-control" id="np" value="new_password" placeholder="new_password"></div>
                        <div class="col-md-12"><input type="text" class="form-control" id="cp" value="confirm_password" placeholder="confirm_password"></div>
                        <span id="error"></span>
                    </div>
                    <!-- <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" id="email" placeholder="Email" value="{{user.user.email}}"></div>
                        <div class="col-md-6"><input type="text" class="form-control" id="pnumber" value="{{user.phone_number}}" placeholder="Phone number"></div>
                    </div> -->
                    <!-- <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="address" value="D-113, right avenue block, CA,USA"></div>
                        <div class="col-md-6"><input type="text" class="form-control" value="USA" placeholder="Country"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Bank Name" value="Bank of America"></div>
                        <div class="col-md-6"><input type="text" class="form-control" value="043958409584095" placeholder="Account Number"></div>
                    </div> -->
                    <div class="mt-5 text-right">
                        <button onclick="update('{{user.id}}')" type="button">Save Password</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    function update(id){
        console.log('helooo')
        var p = document.getElementById("current").value;
        var p1 = document.getElementById("np").value;
        var p2 = document.getElementById("cp").value;
        var data = {
            'csrfmiddlewaretoken':'{{csrf_token}}',
            'current_password':p,
            'password1':p1,
            'password2':p2,
        }
        if (p1!=p2){
            $('#error').html("confirmation failed")
        }
        $.ajax({
            url:'/changepassword/'+id+'/',
            method :'POST',
            data:data,
            datatype:'json',
            success:function(data){
                if(data=='false'){
                    $('#error').html("incorrect password")                   
                }
                if(data=='true'){
                    alert('password updated successfully')
                }
            }
        })
    }
</script>
</body>
</html>